@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Font */

.font-dm{
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
}

.font-jost{
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
}

/* font H1 H2 H3 P */

h1,h2,h3{
    font-family: "DM Serif Display", serif;
    color: #292f36;
}

p{
    font-family:"Jost", sans-serif;
    color: #292f36;
}

/* FLEX BOX */

.flex{
    display: flex;
    flex-wrap: wrap;
}

.space-between{
    justify-content: space-between;
}

.space-around{
    justify-content: spa;
}

.align-center{
    align-items: center;
}

.justify-center{
    justify-content: center;
}

.flex-end{
    justify-content: flex-end;
}

.gap-8{
    gap: 8px;
}

.gap-16{
    gap: 16px;
}

.gap-32{
    gap: 32px;
}

/* MARGIN & PADDING */

.mt-8{
    margin-top: 8px;
}

.mb-16{
    margin-bottom: 16px;
}

.margin-20{
    margin: 20px;
}
.mt-20{
    margin-top: 20px;
}

.mb-20{
    margin-bottom: 20px;
}
.mt-32{
    margin-top: 32px;
}

.mt-64{
    margin-top: 64px;
}

.mb-32{
    margin-bottom: 32px;
}

.mb-128{
    margin-bottom: 128px;
}

.mt-128{
    margin-top: 128px;
}

.pt-16{
    padding-top: 16px;
}

.pb-16{
    padding-bottom: 16px;
}

.pt-32{
    padding-top: 32px;
}

.pb-32{
    padding-bottom: 32px;
}

.pt-64{
    padding-top: 64;
}

.pb-64{
    padding-bottom: 64;
}

.pt-128{
    padding-top: 128px;    
}
/* Tailles */
.w-40{
    width: 40%;
}
.w-30{
    width: 30%;
}


/* allignement de texte */

.center{
    text-align: center;
}

.right{
    text-align: right;
}

.left{
    text-align: left;
}

/* Style de bouton */

.btn-noir{
    background-color: #292f36;
    border-radius: 10px;
    text-decoration: none;
    font-family: "Jost", sans-serif;
    font-style: bold;
    font-size: 22px;
    font-weight: 600;
    color: white;
    padding: 20px 40px;
}

.btn-nav a{
    text-decoration: none;
    font-family: "Jost", sans-serif;
    color: #292f36;
}

/* Container */

.container-1000{
    max-width: 1000px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

/* Image de fond */

.section-banner{
    background-image: url("asset/Banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    border-radius: 0px 0px 0px 200px;
}


/* couleur */

.dorée{
    color: #CDA274;
}


.padding-section{
    padding-top: 100px;
    padding-bottom: 100px;
}

.img-article{
    border-radius: 20px 20px;
    height: 700px;
}