@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*    FONT    */

.font-dm{
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
}

.font-jost{
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
}

/*    FONT H1 H2 H3 P    */

h1{
    font-family: "DM Serif Display", serif;
    color: #292f36;
    font-size: 60px;
    font-weight: 400;
}

h2{
    font-family: "DM Serif Display", serif;
    color: #292f36;
    font-size: 35px;
    font-weight: 400;
}

h3{
    font-family: "DM Serif Display", serif;
    color: #292f36;
    font-size: 25px;
    font-weight: 400;
}

p{
    font-family:"Jost", sans-serif;
    color: #292f36;
    font-family: 22px;
    font-weight: 400;
}

.bold{
    font-weight: 700;
}
/*            FLEX BOX               */

/* enfants */
.flex-50{
    flex-basis: 50%;
}

.flex-30{
    flex-basis: 30%;
}

/* parents */

/* Flex */
.flex{
    display: flex;
    flex-wrap: wrap;
}

/* Flex-direction */

.column{
    flex-direction: column;
}

.row{
    flex-direction: row;
}

.row-reverse{
    flex-direction: row-reverse;
}

/* Justify-content */

.space-between{
    justify-content: space-between;
}

.space-around{
    justify-content: space-around;
}

.justify-center{
    justify-content: center;
}

.flex-end{
    justify-content: flex-end;
}

.flex-start{
    justify-content: flex-start;
}

.space-evenly{
    justify-content: space-evenly;
}

/* align-items */

.items-center{
    align-items: center;
}

.items-start{
    align-items: flex-start;
}

.items-end{
    align-items: flex-end;
}


/* align-content */
.content-start{
    align-content: flex-start;
}

.content-center{
    align-content: center;
}

.content-around{
    align-content: space-around;
}


/* GAP */
.gap-8{
    gap: 8px;
}

.gap-10{
    gap: 10px;
}

.gap-16{
    gap: 16px;
}

.gap-23{
    gap: 23px;
}

.gap-25{
    gap: 25px;
}
.gap-32{
    gap: 32px;
}

.gap-38{
    gap: 38px;
}

.gap-45{
    gap: 45px;
}

.gap-50{
    gap: 50px;
}

/* MARGIN & PADDING */

.mb-16{
    margin-bottom: 16px;
}

.mb-32{
    margin-bottom: 32px;
}
.mb-48{
    margin-bottom: 48px;
}

.mt-48{
    margin-top: 48px;
}

.mb-64{
    margin-bottom: 64px;
}

.mt-64{
    margin-top: 64px;
}

.mb-128{
    margin-bottom: 128px;
}

.mt-128{
    margin-top: 128xp;
}

.pt-48{
    padding-right: 48px;
}

/* Tailles */
.w-40{
    width: 40%;
}
.w-30{
    width: 30%;
}

.w-25{
    width: 25%;
}


/* allignement de texte */

.center{
    text-align: center;
}

.right{
    text-align: right;
}

.left{
    text-align: left;
}

/* Style de bouton */

a{
    text-decoration: none;
}

.btn-noir{
    background-color: #292f36;
    border-radius: 12px;
    text-decoration: none;
    text-align: center;
    font-family: "Jost", sans-serif;
    font-size: 16px;
    font-style: semi-bold;
    font-weight: 400;
    color: white;
    padding: 12px 24px;
}

.btn-nav a{
    text-decoration: none;
    font-family: "Jost", sans-serif;
    color: #292f36;
    gap: 64px;
}

/* Container */

.container-1000{
    max-width: 1000px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

/* Image de fond */

.section-banner{
    background-image: url("asset/Banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 125vh;
    border-radius: 0px 0px 0px 191px;
}

.section-beige{
    background-color: #F4F0EC;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

/* couleur */

.doree{
    color: #CDA274;
}


.padding-section{
    padding-top: 100px;
    padding-bottom: 100px;
}

/* Image */
.img-article{
    border-radius: 30px 30px;
    height: 600px;
    width: 553px;
}


.img-tel{
    height: 26px;
    width: 26px;
}

/* Carte */

.card{
    background-color: white;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    padding-top: 54px;
    padding-bottom: 10px;
}